<!-- ここにヘッダー情報を記載 -->
<div class="header-L">
  <!-- ここにアプリ名のロゴを表示 -->
  <div>個人アプリ</div>
</div>
<div class="header-R">
  <% if user_signed_in? %>  <!- ログインユーザーへの表示 ->
    <div class="header-name">
      ようこそ！<%= current_user.user_name %>さん
    </div>
    <!- メニュー ->
      <nav class="menu">
      　<ul class="menu__ul">
      　　<li class="menu__ul--item"><%= link_to 'トイレ情報の登録', '/toilets/new/' %></li>
      　　<li class="menu__ul--item"><%= link_to '登録済トイレ一覧', '/toilets/posts/' %></li>
      　　<li class="menu__ul--item"><%= link_to '設定', '/users/account/' %></li>
      　　<li class="menu__ul--item"><%= link_to 'ログアウト', '/users/sign_out/', method: :delete %></li>
      　</ul>
      </nav>
    <!- アイコン ->
      <div>※icon</div>

  <% else %>  <!- 非ログイン時の表示 ->
    <div>※現在ログアウト中※</div>
    <%= link_to 'ログイン', '/users/sign_in/', class:'btn-sign_in' %>
    <%= link_to '新規登録', '/users/sign_up/', class:'btn-sign_up' %>
  <% end %>
</div>
