<p id="notice"><%= notice %></p>

<p>
  <strong>Toilet name:</strong>
  <%= @toilet.toilet_name %>
</p>

<p>
  <strong>Multipurpose:</strong>
  <%= @toilet.multipurpose %>
</p>

<p>
  <strong>M urinal:</strong>
  <%= @toilet.m_urinal %>
</p>

<p>
  <strong>M room:</strong>
  <%= @toilet.m_room %>
</p>

<p>
  <strong>M washlet:</strong>
  <%= @toilet.m_washlet %>
</p>

<p>
  <strong>W room:</strong>
  <%= @toilet.w_room %>
</p>

<p>
  <strong>W washlet:</strong>
  <%= @toilet.w_washlet %>
</p>

<p>
  <strong>Open time:</strong>
  <%= @toilet.open_time %>
</p>

<p>
  <strong>Close time:</strong>
  <%= @toilet.close_time %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @toilet.remark %>
</p>

<p>
  <strong>User:</strong>
  <%= @toilet.user_id %>
</p>

<%= link_to 'Edit', edit_toilet_path(@toilet) %> |
<%= link_to 'Back', toilets_path %>
